@model Albert_Saves_The_Planets_2.Models.ViewModels.SharedLanguagesViewModel
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Albert_Saves_The_Planets_2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="row">
    <header style="position: absolute; z-index: 10; top: 0px; left: 10px;">
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">ASTPII</a>
            <a asp-area="" asp-controller="Planets" asp-action="Earth">ASTPII</a>
            @using (Html.BeginForm("SelectLanguage", "Home"))
            {
                <div class="row">
                    @foreach (LanguageModel languageModel in Model.Languages)
                    {
                        <div>
                            @if (languageModel.Code.Equals(Context.Session.GetString("Language")))
                            {
                                <button type="submit" disabled name="language" value="@languageModel.Code">
                                    <img width="30" height="30" style="border-radius:15px; border:rgb(230 173 33) solid 3px;" src="../assets/images/@languageModel.GetFileName()" />
                                </button>
                            }
                            else
                            {
                                <button type="submit" name="language" value="@languageModel.Code">
                                    <img width="30" height="30" style="border-radius:15px; border:black solid 3px;" src="../assets/images/@languageModel.GetFileName()" />
                                </button>

                            }
                        </div>
                    }
                </div>
            }
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
