@model List<ContentTextModel>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor; 
@{
    ViewData["Title"] = "Start!";
}

<div class="text-center">
    <h1 class="display-4">@Model.First(t => t.Name.Equals("TestTitle")).Text</h1>
</div>
