@model Albert_Saves_The_Planets_2.Models.LanguageModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor; 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Code</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
