@model Albert_Saves_The_Planets_2.Models.ViewModels.PageContentsViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6" id="planet">
            <img src="../assets/images/solarsystem.png" alt="Pluto" class="img-thumbnail" />
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-center text-white pt-3">
            <div class="magic">
                <div id="spagettimonster">
                    <img src="../assets/images/spaghettimonster.png"
                         alt="Spagetti monster"
                         id="imagesdilog" />
                </div>
                <div id="txtone" class="text-center">Spaghetti monster</div>
            </div>
            <div class="text-center mt-2 dialogtxttwo">
                You may have defeated me Albert, but I will be back and I will be
                stronger than ever.
            </div>
            <br />
            <div class="magictwo">
                <div id="spagettimonster">
                    <img src="../assets/images/Albert.png" alt="Spagetti monster" id="imagesdilog" />
                </div>
                <div id="txttwo" class="text-center">Albert</div>
            </div>
            <div class="text-center mt-2 dialogtxt">
                You may come back stronger, but I will be prepared for your arrival,
                and I will defeat you again.
            </div>
            <div class="col-md-12 text-white text-center mt-5 dialogtxtthre">
                And with this, the Spaghetti Monster disappeared into the cosmos.
                <hr />
                Albert successfully completed his mission and with this inscribed
                himself in the history of our solar system.
            </div>
        </div>
        <div class="col-md-12 col-lg-12 text-center text-white factscontainer">
            <div class="col-md-12 col-lg-12 text-center text-white pt-3 facts">
                @Model.Contents.First(t => t.Name.Equals("OutroText")).Text
            </div>
        </div>
    </div>
</div>
<script src="afterstory.js"></script>