@model Albert_Saves_The_Planets_2.Models.ViewModels.PageContentsViewModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;
@{
    httpContextAccessor.HttpContext.Session.SetString("GameEnded", "True");
}

<link rel="stylesheet" href="../css/afterstory.css" />


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6" id="planet">
            <img src="../assets/images/solarsystem.png" alt="Pluto" class="img-thumbnail" />
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-center text-white pt-3">
            <div class="magic">
                <div id="spagettimonster">
                    <img src="../assets/images/spaghettimonster.png"
                         alt="Spagetti monster"
                         id="imagesdilog" />
                </div>
                <div id="txtone" class="text-center">Spaghetti monster</div>
            </div>
            <div class="text-center mt-2 dialogtxttwo">@Model.Contents.First(t => t.Name.Equals("OutroSpag1")).Text</div>
            <br />
            <div class="magictwo">
                <div id="spagettimonster">
                    <img src="../assets/images/Albert.png" alt="Spagetti monster" id="imagesdilog" />
                </div>
                <div id="txttwo" class="text-center">Albert</div>
            </div>
            <div class="text-center mt-2 dialogtxt">@Model.Contents.First(t => t.Name.Equals("OutroAlbert1")).Text</div>
            <div class="col-md-12 text-white text-center mt-5 dialogtxtthre">@Model.Contents.First(t => t.Name.Equals("OutroText2")).Text</div>
        </div>
        <div class="col-md-12 col-lg-12 text-center text-white factscontainer">
            <div class="col-md-12 col-lg-12 text-center text-white pt-3 facts">@Model.Contents.First(t => t.Name.Equals("OutroText")).Text</div>
        </div>
    </div>
</div>
<script src="../js/afterstory.js"></script>