@model Albert_Saves_The_Planets_2.Models.ViewModels.PageContentsViewModel


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6" id="planet">
            <img src="earth.png" alt="Earth" class="img-thumbnail">
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-center text-white pt-3">
            <div class="magic">
                <div id="spagettimonster">
                    <img src="Albert.png" alt="Spagetti monster" id="imagesdilog">
                </div>
                <div id="txtone" class="text-center">Albert</div>
            </div>
            <div class="text-center mt-2 dialogtxttwo"> All of these people had to experience the monster's actions, why did he do it to Earth?</div>
            <br>
            <div class="magictwo">
                <div id="spagettimonster">
                    <img src="spaghettimonster.png" alt="Spagetti monster" id="imagesdilog">
                </div>
                <div id="txttwo" class="text-center">Spaghetti Monstre</div>
            </div>
            <div class="text-center mt-2 dialogtxt">Because it's part of my plan, a plan you wont understand.</div>
            <div class="col-md-12 text-white text-center dialogtxtthre">Albert's home planet Earth was a victim to the monster too, he started thinking about the reason behind the monster's actions while getting the planet back to it's orbit.</div>
        </div>
        <div class="col-md-12 col-lg-12 text-center text-white factscontainer">
            <div class="col-md-12 col-lg-12 text-center text-white pt-3 facts">Earth, our home, the 5th biggest planet in the Solar system. It’s considered the biggest rock planet, but it’s only a little bit bigger than Venus.</div>
        </div>
    </div>
</div>
<script src="earth.js"></script>
