@model Albert_Saves_The_Planets_2.Models.ViewModels.PageContentsViewModel
<link rel="stylesheet" href="../css/jupiter.css" />


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6" id="planet">
            <img src="../assets/images/jupiter.png" alt="Jupiter" class="img-thumbnail">
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-center text-white pt-3">
            <div class="magic">
                <div id="spagettimonster">
                    <img src="../assets/images/Albert.png" alt="Spagetti monster" id="imagesdilog">
                </div>
                <div id="txtone" class="text-center">Albert</div>
            </div>
            <div class="text-center mt-2 dialogtxttwo">@Model.Contents.First(t => t.Name.Equals("JupiterAlbert1")).Text</div>
            <br>
            <div class="magictwo">
                <div id="spagettimonster">
                    <img src="../assets/images/spaghettimonster.png" alt="Spagetti monster" id="imagesdilog">
                </div>
                <div id="txttwo" class="text-center">Spaghetti monster</div>
            </div>
            <div class="text-center mt-2 dialogtxt">@Model.Contents.First(t => t.Name.Equals("JupiterSpag1")).Text</div>
            <div class="col-md-12 text-white text-center mt-5 dialogtxtthre">@Model.Contents.First(t => t.Name.Equals("JupiterText")).Text</div>
        </div>
        <div class="col-md-12 col-lg-12 text-center text-white factscontainer">
            <div class="col-md-12 col-lg-12 text-center text-white pt-3 facts">
                Jupiter is our 5th stop, it’s the biggest of all the planets in the Solar system.
                It’s weight doesn't really matter because the Sun will always be the heaviest. But compared to the other planets, it's very heavy.
            </div>
        </div>
    </div>
</div>
<script src="../js/jupiter.js"></script>