@model Albert_Saves_The_Planets_2.Models.ViewModels.PageContentsViewModel
<link rel="stylesheet" href="../css/mars.css" />


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6" id="planet">
            <img src="../assets/images/mars.png" alt="mars" class="img-thumbnail">
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-center text-white pt-3">
            <div class="magic">
                <div id="spagettimonster">
                    <img src="../assets/images/Albert.png" alt="Spagetti monster" id="imagesdilog">
                </div>
                <div id="txtone" class="text-center">Albert</div>
            </div>
            <div class="text-center mt-2 dialogtxttwo">@Model.Contents.First(t => t.Name.Equals("MarsAlbert1")).Text</div>
            <br>
            <div class="magictwo">
                <div id="spagettimonster">
                    <img src="../assets/images/spaghettimonster.png" alt="Spagetti monster" id="imagesdilog">
                </div>
                <div id="txttwo" class="text-center">Spaghetti Monster</div>
            </div>
            <div class="text-center mt-2 dialogtxt">@Model.Contents.First(t => t.Name.Equals("MarsSpag1")).Text</div>
            <div class="col-md-12 text-white text-center dialogtxtthre">@Model.Contents.First(t => t.Name.Equals("MarsText")).Text</div>
        </div>
        <div class="col-md-12 col-lg-12 text-center text-white factscontainer">
            <div class="col-md-12 col-lg-12 text-center text-white pt-3 facts">
                @Model.Contents.First(t => t.Name.Equals("MarsFacts")).Text
            </div>
        </div>
    </div>
</div>
<script src="../js/mars.js"></script>