@model Albert_Saves_The_Planets_2.Models.ViewModels.PageContentsViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6" id="planet">
            <img src="neptunus.png" alt="Neptune" class="img-thumbnail">
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-center text-white pt-3">
            <div class="magic">
                <div id="spagettimonster">
                    <img src="Albert.png" alt="Albert" id="imagesdilog">
                </div>
                <div id="txtone" class="text-center">Albert</div>
            </div>
            <div class="text-center mt-2 dialogtxttwo">@Model.Contents.First(t => t.Name.Equals("NeptuneAlbert1")).Text</div>
            <br>
            <div class="magictwo">
                <div id="spagettimonster">
                    <img src="spaghettimonster.png" alt="Spagetti monster" id="imagesdilog">
                </div>
                <div id="txttwo" class="text-center">Spaghetti Monster</div>
            </div>
            <div class="text-center mt-2 dialogtxt">@Model.Contents.First(t => t.Name.Equals("NeptuneSpag1")).Text</div>
            <div class="col-md-12 text-white text-center mt-5 dialogtxtthre">@Model.Contents.First(t => t.Name.Equals("NeptuneText")).Text</div>
        </div>
        <div class="col-md-12 col-lg-12 text-center text-white factscontainer">
            <div class="col-md-12 col-lg-12 text-center text-white pt-3 facts">
                Neptune is the 8th and last planet of our journey, the furthest planet. It's not very wide but it's still up there, and it's the 3rd heaviest giant planet,
                it’s the „twin” of Uranus, but it’s heavier than it, however it's not as wide. This planet has a solid core made of ice.
            </div>
        </div>
    </div>
</div>
<script src="neptune.js"></script>