@model Albert_Saves_The_Planets_2.Models.ViewModels.PageContentsViewModel
<link rel="stylesheet" href="../css/prestory.css" />


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6" id="planet">
            <img src="../assets/images/solarsystem.png" id="solsystem" alt="Solar system" class="img-thumbnail" />
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-center text-white pt-3">
            <div class="col-md-12 text-white text-center mt-2 dialogtxtthre">
                In the beginning, monkeys and the flying spaghetti monster lived in
                peace, but one day the flying spaghetti monster pushed the planets
                out of their orbits making a huge chaos.
            </div>

            <br />

            <div class="magic">
                <div id="spagettimonster">
                    <img src="../assets/images/Albert.png" alt="Spagetti monster" id="imagesdilog" />
                </div>
                <div id="txtone" class="text-center">Albert</div>
            </div>
            <div class="text-center mt-2 dialogtxttwo">Don't do that!</div>
            <br />
            <div class="magictwo">
                <div id="spagettimonster">
                    <img src="../assets/images/spaghettimonster.png"
                         alt="Spagetti monster"
                         id="imagesdilog" />
                </div>
                <div id="txttwo" class="text-center">Spaghetti Monster</div>
            </div>
            <div class="text-center mt-2 dialogtxt">
                You can't stop me Albert!
            </div>
            <br />
            <div class="magicthree">
                <div id="spagettimonster">
                    <img src="../assets/images/Albert.png" alt="Spagetti monster" id="imagesdilog" />
                </div>
                <div id="txtfour" class="text-center">Albert</div>
            </div>
            <div class="text-center mt-2 dialogtxtfour">
                The monster is planning on pushing the planets out from their
                orbits, I need to stop him!
            </div>
            <br />
        </div>
        <div class="col-md-12 col-lg-12 text-center text-white factscontainer">
            <div class="col-md-12 col-lg-12 text-center text-white pt-3 facts">
                Albert the brave and fearless space monkey got the task of finding
                the planets and putting them back to their original places. We would
                like to invite you to this journey to help Albert find the planets
                and put them back to their orbits.
            </div>
        </div>
    </div>
</div>
<script src="../js/prestory.js"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>