@model Albert_Saves_The_Planets_2.Models.ViewModels.PageContentsViewModel
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor httpContextAccessor;

@{
    string planetSaved = httpContextAccessor.HttpContext.Session.GetString("SaturnSaved");
    if (planetSaved == null || planetSaved != "True")
    {
        int i = (int)httpContextAccessor.HttpContext.Session.GetInt32("PlanetsSaved");
        httpContextAccessor.HttpContext.Session.SetInt32("PlanetsSaved", i + 1);
        httpContextAccessor.HttpContext.Session.SetString("SaturnSaved", "True");
    }
}

<link rel="stylesheet" href="../css/saturn.css" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6" id="planet">
            <img src="../assets/images/saturnus.png" alt="Saturn" class="img-thumbnail">
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-center text-white pt-3">
            <div class="magic">
                <div id="spagettimonster">
                    <img src="../assets/images/Albert.png" alt="Albert" id="imagesdilog">
                </div>
                <div id="txtone" class="text-center">Albert</div>
            </div>
            <div class="text-center mt-2 dialogtxttwo">@Model.Contents.First(t => t.Name.Equals("SaturnAlbert1")).Text</div>
            <br>
            <div class="magictwo">
                <div id="spagettimonster">
                    <img src="../assets/images/spaghettimonster.png" alt="Spagetti monster" id="imagesdilog">
                </div>
                <div id="txttwo" class="text-center">Spaghetti Monster</div>
            </div>
            <div class="text-center mt-2 dialogtxt">@Model.Contents.First(t => t.Name.Equals("SaturnSpag1")).Text</div>
            <div class="col-md-12 text-white text-center mt-5 dialogtxtthre">@Model.Contents.First(t => t.Name.Equals("SaturnText")).Text</div>
        </div>
        <div class="col-md-12 col-lg-12 text-center text-white factscontainer">
            <div class="col-md-12 col-lg-12 text-center text-white pt-3 facts">
                Saturn is the 6th sight to see, it’s a similar giant as Jupiter with it's beautiful rings. The second biggest of all, it’s in the same category of giant planets as Jupiter, Uranus and Neptune.
                The only planet that is less dense than water itself.
            </div>
        </div>
    </div>
</div>
<script src="../js/saturn.js"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>