@model Albert_Saves_The_Planets_2.Models.ViewModels.PageContentsViewModel
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor httpContextAccessor;

@{
    string planetSaved = httpContextAccessor.HttpContext.Session.GetString("VenusSaved");
    if (planetSaved == null || planetSaved != "True")
    {
        int i = (int)httpContextAccessor.HttpContext.Session.GetInt32("PlanetsSaved");
        httpContextAccessor.HttpContext.Session.SetInt32("PlanetsSaved", i + 1);
        httpContextAccessor.HttpContext.Session.SetString("VenusSaved", "True");
    }
}
<link rel="stylesheet" href="../css/venus.css" />


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6" id="planet">
            <img src="../assets/images/venus.png" alt="Venus" class="img-thumbnail">
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 text-center text-white pt-3">
            <div class="magic">
                <div id="spagettimonster">
                    <img src="../assets/images/spaghettimonster.png" alt="Spagetti monster" id="imagesdilog">
                </div>
                <div id="txtone" class="text-center">Spagetti monster</div>
            </div>
            <div class="text-center mt-2 dialogtxttwo">@Model.Contents.First(t => t.Name.Equals("VenusSpag1")).Text</div>
            <br>
            <div class="magictwo">
                <div id="spagettimonster">
                    <img src="../assets/images/Albert.png" alt="Albert" id="imagesdilog">
                </div>
                <div id="txttwo" class="text-center">Albert</div>
            </div>
            <div class="text-center mt-2 dialogtxt">@Model.Contents.First(t => t.Name.Equals("VenusAlbert1")).Text</div>
            <div class="col-md-12 text-white text-center mt-5 dialogtxtthre">@Model.Contents.First(t => t.Name.Equals("VenusText")).Text</div>
        </div>
        <div class="col-md-12 col-lg-12 text-center text-white factscontainer">
            <div class="col-md-12 col-lg-12 text-center text-white pt-3 facts">
                @Model.Contents.First(t => t.Name.Equals("VenusFacts")).Text
            </div>
        </div>
    </div>
</div>
<script src="../js/venus.js"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>